#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin-left: 200px;
    padding: 0;
    width: 60%;
    display: block;
    flex-direction: column;
    align-items: center
}

#selectable li {
    margin: 3px;
    padding: 1.2em;
    font-size: 1.4em;
    height: 18px;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0%;
}

#border {
    border-bottom: solid black;
}

h1 {
    font-size: 50px;
}

.fa {
    background-color: rgb(0, 155, 252);
    color: white;
    float: right;
    font-size: 74px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
}

.fa:hover{
    background-color: rgb(0, 155, 252);
    color: black;
}

.fa-selected {
    background-color: rgb(0, 155, 252);
    color: white;
}

.time {
    display: flex;
    justify-content: column;
    float: left;
    border: solid;
    border-color: rgb(156, 156, 156);
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left: none;
    padding-top: 20px;
    padding-right: 25px
    

}